.Description{
	width: 100%;
	height: 100%;
	border: 1px solid #777676;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	border-radius: 10px;
	padding: 0px 10px;
	margin: 10px 0px;
	box-sizing: border-box;
}
.Description p{
	line-height:1.5em;
}
.Input{
	width: 100%;
	line-height:1.5em;
	text-align: justify;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	border-radius: 10px;
	margin: 20px 0px;
	white-space: normal;
	outline: none;
	font-family: Arial;
	font-size: 14px;
	letter-spacing: 1px;
}
.EditBtn{
	border-radius: 4px;
	border: 1px solid #777676;
	margin-right: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}
.RemoveBtn{
	border-radius: 4px;
	border: 1px solid #777676;
	margin-right: 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}