.Wrapper{
	width: 130px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-left: 25px;
}
.Nav{
	text-decoration: none;
	font-weight: 500;
	margin-top: 20px;
	color:white;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	margin-right: 17px;
}
.Nav:focus{
	text-decoration: underline;
}
.Nav:hover{
	text-decoration: underline;
}